<!DOCTYPE html>
<html class="no-js" lang="en">

<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Utkarsh Kendre</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/vendor.css">
    <link rel="stylesheet" href="../static/css/main.css">

    <!-- script
    ================================================== -->
    <script src="../static/js/modernizr.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../static/favicon.ico" type="image/x-icon">


</head>

<body id="top">
    <div style="background-color: navajowhite">

        <!-- preloader
    ================================================== -->
        <div id="preloader">
            <div id="loader" class="dots-fade">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>


        <!-- header
    ================================================== -->
        <header class="s-header header">

            <div class="header__logo">
                <a class="logo" href="index.html">

                </a>
            </div>
            <!-- end header__logo -->

            <a class="header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>
            <nav class="header__nav-wrap">

                <h2 class="header__nav-heading h6">Navigate to</h2>

                <ul class="header__nav">
                    <li class="current"><a href="{{ url_for('hello') }}" title="">Home</a></li>
                    <li class="has-children">
                        <a href="#0" title="">My Profile</a>
                        <ul class="sub-menu">
                            <li><a href="{{ url_for('category') }}">Educational Background</a></li>
                            <li><a href="{{ url_for('projects') }}">Projects</a></li>
                            <li><a href="{{ url_for('activities') }}">Social Activities</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ url_for('blog') }}" title="">Blog</a></li>

                    <li><a href="{{ url_for('contact') }}" title="">Contact</a></li>
                </ul>
                <!-- end header__nav -->

                <a href="#0" title="Close Menu" class="header__overlay-close close-mobile-menu">Close</a>

            </nav>
            <!-- end header__nav-wrap -->

        </header>
        <!-- s-header -->

        <div>
            </br>
            </br>
            <h1 style="text-align: center"><b>Social  Activities</b></h1>
            <p style="text-align: center">I have volnteered in various social campaigns. </br>One must learn to live in the society and give back whatever he can.</p>
        </div>
        <div style="height: 5px;width:100%;background-color:black"></div>
        <div style="height:1000px;">

            <h2 style="text-align: center">Social Information Technology Awareness Campaign</h2>
            <h2 style="text-align: center">( SITAC )</h2>
            </br>
            <p style="padding-left: 25px;padding-right:20px;">SITAC has changed perspective of students in terms of using computer and helped them grow towards and with the digitization. Our very own club has received many positive feedbacks from the students we had visited previously and they want us
                to organize more number of events in same respect. Thereby SITAC has definitely implanted the seed of computer knowledge that has been growing with full support of all the students and teachers. It has also led to increase in the knowledge
                of “Digital India” scheme launched by our respected Prime Minister Mr. Narendra Modi and has received an overwhelming response with support of Municipal Corporation of Sangli and Walchand College of Engineering. And this year we had valuable
                guidance of Mr. Jayant Nagrale and Mr. Birajdar (Admin Officer). They guided us all the way throughout our campaign as a constant support. Team ACSES extends warm thanks to supporting staff, Mr. Nagrale and admin officer. Many schools
                have thereby started a mandatory course of “computer” in their schools. Hence, SITAC has not only changed perspective of students but also other people who are now travelling parallel with digitized India. SITAC 2019 mainly focused on
                giving practical experience to students by providing them hands on session on laptops.
            </p>

            <img style="float:left;padding-left: 15px;padding-top: 40px;height: 326px;width:280px" src="../static/images/avatars/sc3.jfif">
            <img style="float:center;padding-left: 15px;padding-top: 40px;height: 326px;width:280px" src="../static/images/avatars/sc4.jfif">
            <img style="float:center;padding-left: 15px;padding-top: 40px;height: 326px;width:280px" src="../static/images/avatars/sc2.jfif">
            <img style="float:left;padding-left: 15px;padding-top: 40px;height: 326px;width:280px" src="../static/images/avatars/sc1.jfif">
        </div>

        <div style="height: 5px;width:100%;background-color:black"></div>
        <div style="height:350px;">


            <span>  <p ><img style="float:left;padding-left: 15px;padding-top: 40px;height: 326px;width:280px" src="../static/images/avatars/blood.jfif">
        <b style="padding-left: 400px;font-size:30px">Blood Donation</b>


        </br><b style="padding-left: 15px">Importance : </b></br>
        <b style="padding-left: 15px">1. </b>Along with helping save lives, there are a number of reasons why donating blood is important. </br>
        <b style="padding-left: 15px">1. </b>A single donation can save three lives. One blood donation provides different blood components that can help up to three different people..</br>
        <b style="padding-left: 15px">2. </b>Blood cannot be manufactured. Despite medical and technological advances, blood cannot be made, so donations are the only way we can give blood to those who need it. </br>
        <b style="padding-left: 15px">3. </b>Blood is needed every two seconds. Nearly 21 million blood components are transfused in the India every year.</br>
        <b style="padding-left: 15px">4. </b>Only 37 percent of the country’s population is able to donate blood.</br>
        <b style="padding-left: 15px">5. </b>Your friends or family may need your blood someday.</br>
    </p>
    
    </span>
        </div>


        <div style="height: 5px;width:100%;background-color:black"></div>
    </div>
    <footer class="s-footer">

        <div class="s-footer__main">
            <div class="row">

                <div class="col-six tab-full s-footer__about">

                    <h4>About Utkarsh</h4>

                    <p>I am a freelance full stack web developer and data science enthusiast. Feel free to reach out to me for any queries.</p>
                    .</p>

                </div>
                <!-- end s-footer__about -->

                <div class="col-six tab-full s-footer__subscribe">

                    <h4>Our Work</h4>

                    <p>I have previously worked with reputed firms to build their websites and have recieved excellent feedback.</p>

                    <div class="subscribe-form">
                        <form id="mc-form" class="group" novalidate="true">

                            <input type="email" value="" name="EMAIL" class="email" id="mc-email" placeholder="Email Address" required="">

                            <input type="submit" name="subscribe" value="Send">

                            <label for="mc-email" class="subscribe-message"></label>

                        </form>
                    </div>

                </div>
                <!-- end s-footer__subscribe -->

            </div>
        </div>
        <!-- end s-footer__main -->

        <div class="s-footer__bottom">
            <div class="row">

                <div class="col-six">
                    <ul class="footer-social">
                        <li>
                            <a href="#0"><i class="fab fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#0"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#0"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="#0"><i class="fab fa-youtube"></i></a>
                        </li>
                    </ul>
                </div>

                <div class="col-six">
                    <div class="s-footer__copyright">
                        <span>
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Utkarsh</a>

</span>
                    </div>
                </div>

            </div>
        </div>
        <!-- end s-footer__bottom -->

        <div class="go-top">
            <a class="smoothscroll" title="Back to Top" href="#top"></a>
        </div>

    </footer>




    <!-- Java Script
    ================================================== -->
    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/js/plugins.js"></script>
    <script src="../static/js/main.js"></script>

</body>

</html>