<!DOCTYPE html>
<html class="no-js" lang="en">

<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Utkarsh Kendre</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/vendor.css">
    <link rel="stylesheet" href="../static/css/main.css">

    <!-- script
    ================================================== -->
    <script src="../static/js/modernizr.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../static/favicon.ico" type="image/x-icon">


</head>

<body id="top">
    <div style="background-color: navajowhite">

        <!-- preloader
    ================================================== -->
        <div id="preloader">
            <div id="loader" class="dots-fade">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>


        <!-- header
    ================================================== -->
        <header class="s-header header">

            <div class="header__logo">
                <a class="logo" href="index.html">

                </a>
            </div>
            <!-- end header__logo -->

            <a class="header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>
            <nav class="header__nav-wrap">

                <h2 class="header__nav-heading h6">Navigate to</h2>

                <ul class="header__nav">
                    <li class="current"><a href="{{ url_for('hello') }}" title="">Home</a></li>
                    <li class="has-children">
                        <a href="#0" title="">My Profile</a>
                        <ul class="sub-menu">
                            <li><a href="{{ url_for('category') }}">Educational Background</a></li>
                            <li><a href="{{ url_for('projects') }}">Projects</a></li>
                            <li><a href="{{ url_for('activities') }}">Social Activities</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ url_for('blog') }}" title="">Blog</a></li>

                    <li><a href="{{ url_for('contact') }}" title="">Contact</a></li>
                </ul>
                <!-- end header__nav -->

                <a href="#0" title="Close Menu" class="header__overlay-close close-mobile-menu">Close</a>

            </nav>
            <!-- end header__nav-wrap -->

        </header>
        <!-- s-header -->

        <div>
            </br>
            </br>
            <h1 style="text-align: center"><b>Educational Backgound</b></h1>
            <p style="text-align: center">I have always loved educational institutions which made me who I am, </br>they are a lot of memories which still make me smile while I remember them.</p>
        </div>
        <div style="height: 5px;width:100%;background-color:black"></div>
        <div style="height:280px;">


            <span>  <p ><img style="float:left;padding-left: 15px;padding-top: 20px;height: 255px;width:280px" src="../static/images/avatars/shyamlal.jfif">
        <b style="padding-left: 400px;font-size:30px">My School</b>


        </br><b style="padding-left: 15px">Name : </b>Shyamlal Memorial High School, Udgir </br>

        <b style="padding-left: 15px">Degree : </b>SSC</br>
        
        <b style="padding-left: 15px">Passing Year : </b>2015 </br>
       
        <b style="padding-left: 15px">Percentage : </b>98.80</br>
        <b style="padding-left: 15px">Fun Memory : </b> Once in PT period the weights of all students were being calculated, during weighing of a girl some boys laughed due shocking low weight. Due to this teacher suspended all the boys for the rest of day, boys happily left and played cricket rest of the day.</p>
       
    </span>
        </div>
        </br>
        <div style="height: 5px;width:100%;background-color:black"></div>
        <div style="height:280px;">


            <span>  <p ><img style="float:left;padding-left: 15px;padding-top: 20px;height: 255px;width:280px" src="../static/images/avatars/shahu.jfif">
        <b style="padding-left: 400px;font-size:30px">My College</b>


        </br><b style="padding-left: 15px">Name : </b>Rajarshee Shahu Jr. Science College, Latur </br>

        <b style="padding-left: 15px">Degree : </b>HSC</br>
        
        <b style="padding-left: 15px">Passing Year : </b>2017 </br>
       
        <b style="padding-left: 15px">Percentage : </b>83.54</br>
        <b style="padding-left: 15px">Fun Memory : </b> Well these were the most intense days as I have studied a lot for entrance exams. I made some real good lifetime friends.</p>
       
    </span>
        </div>
        <div style="height: 5px;width:100%;background-color:black"></div>
        <div style="height:280px;">


            <span>  <p ><img style="float:left;padding-left: 15px;padding-top: 20px;height: 255px;width:280px" src="../static/images/avatars/wce.jfif">
        <b style="padding-left: 400px;font-size:30px">Engineering</b>


        </br><b style="padding-left: 15px">Name : </b>Walchand College of Engineering, Sangli </br>

        <b style="padding-left: 15px">Degree : </b>B.Tech</br>
        
        <b style="padding-left: 15px">Department : </b>Commputer Science and Engineering </br>
       
        <b style="padding-left: 15px">Passing Year : </b>2021 </br>

        <b style="padding-left: 15px">Fun Memory : </b> Believe me guys there's a lot to tell. Engineering life is the best ! </p>
       
    </span>
        </div>
        <div style="height: 5px;width:100%;background-color:black"></div>
        </br>
    </div>
    <footer class="s-footer">

        <div class="s-footer__main">
            <div class="row">

                <div class="col-six tab-full s-footer__about">

                    <h4>About Utkarsh</h4>

                    <p>I am a freelance full stack web developer and data science enthusiast. Feel free to reach out to me for any queries.</p>
                    .</p>

                </div>
                <!-- end s-footer__about -->

                <div class="col-six tab-full s-footer__subscribe">

                    <h4>Our Work</h4>

                    <p>I have previously worked with reputed firms to build their websites and have recieved excellent feedback.</p>

                    <div class="subscribe-form">
                        <form id="mc-form" class="group" novalidate="true">

                            <input type="email" value="" name="EMAIL" class="email" id="mc-email" placeholder="Email Address" required="">

                            <input type="submit" name="subscribe" value="Send">

                            <label for="mc-email" class="subscribe-message"></label>

                        </form>
                    </div>

                </div>
                <!-- end s-footer__subscribe -->

            </div>
        </div>
        <!-- end s-footer__main -->

        <div class="s-footer__bottom">
            <div class="row">

                <div class="col-six">
                    <ul class="footer-social">
                        <li>
                            <a href="#0"><i class="fab fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#0"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#0"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="#0"><i class="fab fa-youtube"></i></a>
                        </li>
                    </ul>
                </div>

                <div class="col-six">
                    <div class="s-footer__copyright">
                        <span>
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Utkarsh</a>

</span>
                    </div>
                </div>

            </div>
        </div>
        <!-- end s-footer__bottom -->

        <div class="go-top">
            <a class="smoothscroll" title="Back to Top" href="#top"></a>
        </div>

    </footer>




    <!-- Java Script
    ================================================== -->
    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/js/plugins.js"></script>
    <script src="../static/js/main.js"></script>


</body>

</html>